body {
    margin: 0;
 
}

.search-form {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color:darkslateblue;
    padding-top: 15px;
    padding-bottom: 15px;

    position: fixed;
}

input {
    padding: 6px;
    padding-right: 100px;
}

.submit {
    background-color: lightgrey;
    border-radius: 5px;
    cursor: pointer;
}

.gallery {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.photo-card {
    box-shadow: 8px 8px 29px 0px rgba(0, 0, 0, 0.59);
    margin-top: 10px;
}

.photo-card:nth-child(-n + 4) {
    margin-top: 70px;
}

.info {
    display: flex;
    justify-content: space-around;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
}

.load-more {
    background-color: darkslateblue;
    color: #fff;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 10px 30px 10px 30px;

    border-radius: 5px;

    cursor: pointer;
}

